@model Practica1._2.Models.Cliente

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0 shadow-sm">
                        <div class="card-body p-4">
                            <br>
                            <center> <p class="text6"> A La Pasta </p></center>
                            <h4 class="text-center mb-4">Iniciar Sesión</h4>

                            @using (Html.BeginForm("InicioSesion", "Login"))
                            {
                                <div class="mb-3">
                                    <label class="form-label">Correo Electrónico</label>
                                    @Html.TextBoxFor(m => m.Correo, new { @class = "form-control", @type = "email" })
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Contraseña</label>
                                    @Html.TextBoxFor(m => m.Contraseña, new { @class = "form-control", @type = "password" })
                                </div>
                                <div class="d-flex justify-content-between mb-4">
                                    <div>
                                        <input type="checkbox" id="rememberMe" class="form-check-input">
                                        <label for="rememberMe" class="form-check-label">Recuérdame</label>
                                    </div>
                                    <input type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4" value="Iniciar Sesión">
                                </div>
                                <a href="@Url.Action("InicioSesion", "Login")" button type="submit" class="btn w-100 py-2" style="background-color: #f44c31; color: white;">Iniciar Sesión</a>

                            }

                                <div class="text-center mt-4">
                                    <p>¿No tienes una cuenta? <a href="@Url.Action("Registro", "Login")" class="text-primary">Regístrate aquí</a></p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


